.cart{
    position: sticky;
    top: 0;
    height: 1352px;
}

.cart-details {
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;
}

.cart-summary {
    width: 351px;
    height: 98px;
}

.spend-time {}