.all-blog {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

@media only screen and (max-width: 600px) {
    .all-blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog-part {
    padding-left: 110px;
    width: 850px;

}

.blog-part-second {
    border-radius: 8px;
    margin-right: 100px;
    padding-left: 15px;
    padding-right: 10px;
}